.button__add-task {
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    height: 32px;
    width: 32px;
    background-color: #55B8FF;
    cursor: pointer;
    border: none;
    padding: 8px;
}

.button__add-task_plus {
    display: block;
    position: relative;

    &:after,
    &:before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid white;
        width: 100%
    }

    &:before {
        transform: rotate(-90deg);
    }


}