.checkbox {
    &__label {
        cursor: pointer;

        &:before {
            content: "";
            background-image: url("/Image/square-checkbox.svg");
            background-repeat: no-repeat;
            display: block;
            width: 13px;
            height: 13px;
            margin-right: 10px;
            margin-left: 2px;
            background-position: center;
        }
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);

        &:checked + .checkbox__label::before {
            background-image: url("/Image/checkbox-checked.svg");
        }
        &:focus + .checkbox__label::before{
            outline: solid 1px #BFC6D0;
        }    
    }
}