.container__select {
    display: flex;
    justify-content: space-between;
    min-height: 24px;
    width: auto;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: auto;
}

.btn__select {
    display: inline-block;
    font-weight: bold;
    border-color: inherit;
    background-color: inherit;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    height: 24px;
    
    &:focus {
        background-color: inherit;
    }

    &::after {
        content: "";
        display: inline-block;
        background-image: url("../Image/Vector\ \(Stroke\)2.png");
        width: 9px;
        height: 6px;
        margin-left: 7px;
        position: absolute;
        top: 10px;
    }
}

.btn__select_active {
    font-weight: bold;
    cursor: pointer;
    background-color: inherit;

    &::after {
        content: "";
        display: inline-block;
        background-image: url("../Image/Vector\ \(Stroke\)1.png");
        width: 9px;
        height: 6px;
        margin-left: 7px;
    }
}

.option__items {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 34px;
    z-index: 5;
    padding: 15px 20px;
    background-color: white;
}

.option {
    display: block;
    height: 36px;
    width: 150px;
}

.option__link {
    cursor: pointer;

    &:active {
        display: block;
        font-weight: bold;
        background-image: url("../Image/Vector3.png");
        background-repeat: no-repeat;
        background-position: center right 0;
    }
}